html,body{
    margin: 0;
    height: 100%;
    background: rgb(90,85,152);
    background: linear-gradient(90deg, rgba(90,85,152,1) 0%, rgba(185,157,216,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main{
    background-image: url("./assets/images/background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.main>.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    flex-direction: column;
}
h1,h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
.main h1{
    font-size: 92px;
    font-family: Playlist-Script;
    font-weight: lighter;
    color: #f5f5dc;
}
.main h2{
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 3px;
    position: relative;
    bottom: 20px;
    color: #f5f5dc;
}
.intro{
    margin-top: 80px;
}
.intro img{
    height: 250px;
    width: 250px;
    margin-top: 25px;
    margin: 0 auto;
}
p{
    margin-left: 55px;
    font-size: 28px;
    color: #f5f5dc;
    font-weight: 100;
    margin-bottom: 20px;
}
.intro p{
    text-align:left;
    margin-top: 30px;
}
.intro h2{
    top: 0px;
    margin-left: 80px;
    font-size: 80px;
    font-family: Playlist-Script;
    text-align: left;
    color: #f5f5dc;
}
.skills {
    margin-top: 80px;
}
.skills h2{
    text-transform:uppercase;
    margin-left: 80px;
    font-size: 80px;
    text-align: center;
    color: #f5f5dc;
    font-family: Playlist-Script;
}
.coding {
    color: #f5f5dc;
    font-size: 60px;
    font-family: Playlist-Script;
    letter-spacing: 5px;
    text-align: left ;
    margin-left: 80px;
}
.para1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left ;
}
.coding-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.coding-container>img{
    margin-left: 80px;
    margin-right: 0px;
}
.anime{
    letter-spacing: 5px;
    text-transform: capitalize;
    color: #f5f5dc;
    font-family: Playlist-Script;
    font-size: 60px;
    letter-spacing: 5px;
    margin-top: 11px;
    margin-bottom: 0px;
    text-align: left ;
    margin-left: 80px;
}
.para2{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left ;
}
.skills img{
    height: 250px;
    width: 250px;
}
.touch{
    margin-top: 200px;
    height: 400px;
}
.touch h2,p{
    color: #f5f5dc;
}
.touch h2{
    font-size: 80px;   
    font-family: Playlist-Script; 
    margin-left: 55px;                                           
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: #0d0f3b;
    color: #f5f5dc;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
}
.Projects h2{
    font-family: Playlist-Script;
    font-size: 60px;
    color: #f5f5dc;
}
.Projects img{
    height: 260px;
    width: 260px;
    border: 1px solid black;
}
